# Default ignored files
/shelf/
.idea/*
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../:\RRAAFF\KiDS\Domaci_za_vezbu_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out
/node_modules